<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/about.css">
    <title>FINE ARTS GDC</title>
</head>
<body>
    <!--NAVIGATION PART-->
    <div class="navigation">
    <nav>
        <div class="logo">
                <img src="resources/logo finearts.png" alt="">
                <h1>KALABDHI</h1>
            </h1>
        </div>
        <div class="nav">
            <form action="/loginpage" method="post">
                <button name="button" value="gallery">GALLERY</button>
                <button name="button" value="home">HOME</button>
                <button name="button" value="events">EVENTS</button>
                <button name="button" value="login">LOGIN</button>
            </form>
        </div>
    </nav>
    </div>
    <!-- nav bar end -->
<!--------------------------------------------------------------------------------------->
<div class="aboutus">
    <center><h1>ABOUT US</h1><br></center>
    <div class="txt-area">
    <h2 class="heading">KALAABDHI - The Ocean of Talent</h2>
    <center><p><B>Vision Statement: </B>“Striving at holistic development of students by creating versatile artists & instill a life-long passion towards community, arts & Culture in order to sustain, nurture & transmit regional culture to National & International horizon”</p>
    <p>Talents are boundless. Govinda Dasa College students have been setting new benchmarks, in all fields especially in the field of arts from the past three years.</p>
    <p>It was in February 2019, when our Cultural Team represented India in an international level, that the managing authority and the PTA of GDC felt a need to establish a Cultural Training Centre to unleash the talents of our students and the society by training and providing them with a platform to uplift the culture of our land to a new horizon. This led to the birth of <B>“KALAABDHI - The Ocean of Talent” - a new official Cultural Training Centre in the academic year 2019-20.</B></p>
    <p>The passion of our students for art is manifested by excelling in all possible Fine Arts fields such as dance, theatre, mime, music, drawing, Yakshagana, painting, crafts, Warli Art, Clay Art, etc. In the ocean of <B>‘KALAABDHI’</B>, all hearts and talents come together to enjoy the waves of art.</p></center>
   <br>

   <div class="important">
    <h3><b>The Objectives of Kalaabdhi are :</B></h3><br>
        <p>*To create a thirst towards fine arts amongst Pre-university and degree students. <br>
        *To provide a platform for their talent. <br>
        *To shape the students to become a Resource person <br>
        *To build a excellent Cultural team and motivate them to participate in various National & International competitions <br>
        *To conduct various seminars & workshops to develop student’s artistic talents. <br>
        *To train students in various domains of Fine Arts. Particularly : <br>
        Yakshagana, Taalamaddale
        Theatre ( Drama , Street Plays, Skit, Mime, etc.)<br>
        Music ( Classical ,Western & Light music & Instruments)
        Dance (Classical, Semi-Classical, Western, Folk)</p>
    </div>
        <div class="member">
            <h2>STAFFS and SECRETARY OF THE KALAABDHI</h2>
        </div>
   <br>
    <div class="gallery">
        <div class="portrait">      <!-- 1 -->
            <img src="resources/RCK_0179.JPG" alt="Portrait 1">
            <div class="overlay"><center>MISS LADDU KHARWAR <br> coordinator </center></div><br>
        </div>
        <div class="portrait"><!-- 2 -->
            <img src="resources/RCK_0791.JPG" alt="Portrait 2">
            <div class="overlay"><center>DAKSHITH NAIK <br> cordinator</center></div>
        </div>
        <div class="portrait"><!-- 3 -->
            <img src="resources/RCK_0759.JPG" alt="Portrait 2">
            <div class="overlay"><center>BHUVAN <br> SECRETARY</center></div>
        </div>
        <div class="portrait"><!-- 4 -->
            <img src="resources/RCK_0751.JPG" alt="Portrait 2">
            <div class="overlay"><center>SHREYAS <br>SECRETARY</center></div>
        </div> <br><br>
        
        <!-- Add more portrait divs as needed -->
        </div>
        <br>
       
       
<!-- table part ---------------------------------------------------------------------- -->

       <!-- table fo the details -->
        <div class="table-container">
            <table>
                <tbody>
                    <tr>
                        <td>Email Id</td>
                        <td><a href="mailto:finearts@gdc.edu.in">finearts@gdc.edu.in</a></td>
                    </tr>
                    <tr>
                        <td>Web Link</td>
                        <td><a href="https://govindadasacollege.edu.in/kalaadbhi/">https://govindadasacollege.edu.in/kalaadbhi/</a></td>
                    </tr>
                    <tr>
                        <td>Instagram</td>
                        <td><a href="https://instagram.com/gdc_kalaabdhi?igshid=YmMyMTA2M2Y=">gdc_kalaabdhi</a></td>
                    </tr>
                    <tr>
                        <td>Youtube</td>
                        <td><a href="https://www.youtube.com/channel/UCGQ1z18X4Gv5l1gXxRE0CxA">GDC-KALAABDHI</a></td>
                    </tr>
                    <tr>
                        <td>Facebook Page</td>
                        <td><a href="https://www.facebook.com/gdc.finearts/">gdc.finearts</a></td>
                    </tr>
                    <tr>
                        <td>Contact Details</td>
                        <td><a href="tel:+9741005326">+9741005326</a></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><a href="https://www.google.co.in/maps/place/Govinda+Dasa+Degree+College/@12.9848875,74.7997532,17z/data=!4m14!1m7!3m6!1s0x3ba351cc794e013b:0x820bb3742f5c307e!2sGovinda+Dasa+Degree+College!8m2!3d12.9848875!4d74.8023281!16s%2Fm%2F0czf8vd!3m5!1s0x3ba351cc794e013b:0x820bb3742f5c307e!8m2!3d12.9848875!4d74.8023281!16s%2Fm%2F0czf8vd?entry=ttu">View on Map</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- table part------------------------------------ -->

 <!-- Footer -->
 <footer>
    <div class="footer-info">
        <div class="left">
            <p>About us:<br>
                Govinda Dasa College, Surathkal<br>
                Managed By : Hindu Vidyadayinee Sangha<br>
                Surathkal - 575014, D.K</p>
        </div>
        <div class="right">
            <p>Contact Us: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
            <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
            <p>Location: <a href="https://www.google.com/maps/place/Govinda+Dasa+Degree+College/@12.9848875,74.7974572,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba351cc794e013b:0x820bb3742f5c307e!8m2!3d12.9848875!4d74.8023281!16s%2Fm%2F0czf8vd?entry=ttu">View on Map</a></p>
            <p><a
                    href="https://r.search.yahoo.com/_ylt=AwrKExQCLiRm3AsyIAq7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1713675906/RO=10/RU=https%3a%2f%2fgovindadasacollege.edu.in%2f/RK=2/RS=UCGYBTZ32avfjE1uyCmbBVergvQ-">College
                    Website</a></p>
        </div>
        <p>&copy; 2024 FINE ARTS MANAGEMENT. All rights reserved.</p>
    </div>
</footer>


</body>
</html>