<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/gallery.css">
    <title>FINE ARTS GDC</title>
</head>
<body>
    <!--NAVIGATION PART-->
    <div class="navigation">
    <nav>
        <div class="logo">
                <img src="resources/logo finearts.png" alt="">
                <h1>KALABDHI</h1>
            </h1>
        </div>
        <div class="nav">
            <form action="/loginpage" method="post">
                <button name="button" value="aboutus">ABOUT US</button>
                <button name="button" value="home">HOME</button>
                <button name="button" value="events">EVENTS</button>
                <button name="button" value="login">LOGIN</button>
            </form>
        </div>
    </nav>
    </div>
    <!-- nav bar end -->

<!----------------------------------------------------------->

<!-- carousel effect part -->
</head>
<body>
    <div class="gallery-box">
    <div class="carousel">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-item">
                <img src="resources/boyzz.jpg">
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="resources/Nationals.jpg">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="resources/ncc .jpg">  
            </div>
            <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="resources/xyz.jpg">  
            </div>
            <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="resources/abc.jpg">  
            </div>
            <input class="carousel-open" type="radio" id="carousel-6" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="resources/22.jpg">  
            </div>
            <input class="carousel-open" type="radio" id="carousel-7" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="resources/12.jpg">  
            </div>
            <input class="carousel-open" type="radio" id="carousel-8" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="resources/44.jpg">  
            </div>
            <label for="carousel-8" class="carousel-control prev control-1">‹</label>
            <label for="carousel-2" class="carousel-control next control-1">›</label>
            <label for="carousel-1" class="carousel-control prev control-2">‹</label>
            <label for="carousel-3" class="carousel-control next control-2">›</label>
            <label for="carousel-2" class="carousel-control prev control-3">‹</label>
            <label for="carousel-4" class="carousel-control next control-3">›</label>
            <label for="carousel-3" class="carousel-control prev control-4">‹</label>
            <label for="carousel-5" class="carousel-control next control-4">›</label>
            <label for="carousel-4" class="carousel-control prev control-5">‹</label>
            <label for="carousel-6" class="carousel-control next control-5">›</label>
            <label for="carousel-5" class="carousel-control prev control-6">‹</label>
            <label for="carousel-7" class="carousel-control next control-6">›</label>
            <label for="carousel-6" class="carousel-control prev control-7">‹</label>
            <label for="carousel-8" class="carousel-control next control-7">›</label>
            <label for="carousel-7" class="carousel-control prev control-8">‹</label>
            <label for="carousel-1" class="carousel-control next control-8">›</label>

            
            <ol class="carousel-indicators">
                <li>
                    <label for="carousel-1" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-4" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-5" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-6" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-7" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-8" class="carousel-bullet">•</label>
                </li>
            </ol>
            
        </div>
    </div>
<div class="multiborder">
<div class="multiimg">
    <a href=""><img src="resources/12.jpg" alt=""></a>
    <a href=""><img src="resources/22.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a>
   <!--  <a href=""><img src="resources/44.jpg" alt=""></a>
    <a href=""><img src="resources/44.jpg" alt=""></a> -->
    
</div>
</div>
</div>

<!-- --------------------------carousel end part------------------------------------ -->


    <!-- Footer -->
 <footer>
    <div class="footer-info">
        <div class="left">
        <p>About us:<br>
            Govinda Dasa College, Surathkal<br>
            Managed By : Hindu Vidyadayinee Sangha<br> 
            Surathkal - 575014, D.K</p>
        </div>
        <div class="right">
        <p>Contact Us: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
        <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
        <p>Location: <a href="https://www.google.com/maps/place/Govinda+Dasa+Degree+College/@12.9848875,74.7974572,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba351cc794e013b:0x820bb3742f5c307e!8m2!3d12.9848875!4d74.8023281!16s%2Fm%2F0czf8vd?entry=ttu">View on Map</a></p>
        <p><a href="https://r.search.yahoo.com/_ylt=AwrKExQCLiRm3AsyIAq7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1713675906/RO=10/RU=https%3a%2f%2fgovindadasacollege.edu.in%2f/RK=2/RS=UCGYBTZ32avfjE1uyCmbBVergvQ-">College Website</a></p>
    </div>
        <p>&copy; 2024 FINE ARTS MANAGEMENT. All rights reserved.</p>
    </div>
</footer>

</body>
</html>