<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PAGE</title>
    <link rel="stylesheet" href="styles/mainadmin.css">
</head>
<body>



     <!--NAVIGATION PART-->
     <div class="navigation">
        <nav>
            <div class="logo">
                    <img src="resources/logo finearts.png" alt="">
                    <h1>KALABDHI</h1>
                </h1>
            </div>
            <div class="nav">
                <form action="/loginpage" method="post">
                    <button name="button" value="update">UPDATE</button>
                    <button name="button" value="view">VIEW</button>
                    <button name="button" value="logout">LOGOUT</button> 
                </form>
            </div>
        </nav>
        </div>
        <!-- nav bar end -->
    <!--------------------------------------------------------------------------------------->


